/* commonly shared styles */
* {
    
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,700&display=swap');
  font-family: 'Open Sans', sans-serif;
}
header{
    
}

/* nav bar styles start */
.nav-container{
display: flex;
justify-content: space-around;
}
.nav-logo-container{
display: flex; align-items: center; gap: 1rem;
}
.nav-logo > img {
width: 90px; height: 45px;
}
.nav-title{
font-size: 2.8rem; color: #0B0223;
}


.nav-menus{
    display: flex; align-items: center; color: #3C354F; font-size: 1.15rem;
}

.menus{
    display: flex; gap: 3rem;
}



.follow{
display: flex; border: 1px solid white;
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
width: auto;
gap: 1rem;
align-items: center;
margin-left: 3rem;
}
.follow-title{
font-size: 1.15rem;
}
.follow-logo1 img{
height: 24px;width: fit-content
}
.follow-logo2 img{
height: 24px; width:fit-content;
}
/* nav bar styles end */


/* main1 styles start */
.main1{
    display: flex; justify-content: space-around; align-items: center;
}
.instant-play, .download, .people {
    display: flex; align-items: center; gap: .3rem; 
}
.main1-article{
    margin-left: 7rem;
}
.main1-article > .goat{
    color: violet; margin-top: -2rem;
font-size: 6rem;}
.main1-article > .main1-title { font-weight: 600;
    color: #0B0223; margin-top: 3rem;

font-size: 3rem;
}
 .main1 .details{
  margin-top: -6rem  ;
}
.instant-play-article, .download-article, .people-article {
    color: #534C64;
font-size: 1.15rem;
}
.buttons{
    display: flex; gap: 1.5rem ; margin-top: 2rem;
}
.button1{
    color: #FFF;
    font-size: 1.4rem;
    border-radius: 48px;
background-color: palevioletred;
padding: 21px 40px;
font-weight: 600;
}
.button2{
    color: #FFF;
    font-size: 1.4rem;    border-radius: 48px;
    background-color: skyblue;
    padding: 21px 40px;font-weight: 600;
}

.main1-img img{
    width: 95%;
}








 
/* main1 styles end */
/* gamer styles start */

.gamer{
    display: flex; justify-content: space-around; text-align: right; align-items: center; margin-top: 2rem;
}
.gamer-img{
    width: 80%; margin-left: 1.5rem;
}
.gamer-content{
    margin-right: 5rem ;
}
.gamer-heading{
    text-align: right;
font-size: 3rem;
font-weight: 700; color: violet;
}
.gamer-description{
    color: #534C64;

font-size: 1.15rem;
font-weight: 400;
line-height: 30px;
}
.purpose{
    color: #534C64;
text-align: right;
font-size: 1.25rem;
font-weight: 500;
line-height: 45px;
}
/* gamer styles end */
/* online gaming styles start */
.online-description{
    text-align: center; 
}
.online-description > .og {
    color: #0B0223;
font-size: 3rem;
margin-top: 5rem;
font-weight: 700;
}
.gamer-description .two {
 margin-top: -5rem;
}
.funny{
    color: violet;
}




/* online gaming styles end */
/* mobile views */
@media screen and (max-width:576px) {
    .nav-container, .menus,.nav-menus{
        flex-direction: column; gap: 2rem; text-align: center; align-items: center;
    }
    .main1{
        flex-direction: column-reverse; 
    }
    .main1 img{
        width: 100%; height: auto;
    }
    .main1-article,.main1-title, .goat, .details, .buttons{
        text-align: center; align-items: center; margin-right: 2.5rem; 
    }
    .gamer{
        flex-direction: column; 
    }
    .gamer-img img {
        width: 100%; height: auto; margin-top: 2rem;
    }
.gamer, .gamer-content, .gamer-description, .gamer-heading, .purpose{
    text-align: center; margin-left: 2rem;
}
}
/* tablet views */
@media screen and (min-width:576px) and (max-width:992px) {
    .nav-container, .menus,.nav-menus{
        flex-direction: column; gap: 2rem; text-align: center; align-items: center;
    }
    .main1{
        flex-direction: column-reverse; 
    }
    .main1 img{
        width: 100%; height: auto;
    }
    .main1-article,.main1-title, .goat, .details, .buttons{
        text-align: center; align-items: center; margin-right: 2.5rem; 
    }
    .gamer{
        flex-direction: column; 
    }
    .gamer-img img {
        width: 100%; height: auto; margin-top: 2rem;
    }
.gamer, .gamer-content, .gamer-description, .gamer-heading, .purpose{
    text-align: center; margin-left: 2rem;
}
}

